<!-- Get src param from shortcode -->
{{ $src := $.Get "src"}}

<!-- Get alt param from shortcode -->
{{ $alt := $.Get "alt"}}

<!-- Get image -->
{{$img := resources.Get $src}}

<!-- Resize image as a test it's working -->
{{- $medium := $img.Resize "700x"}}
{{- $mobile := $img.Resize "400x"}}
{{- $desktop := $img.Resize "1200x"}}
<picture>
    <source media="(max-width:401px)" srcset="{{ $mobile.Permalink }}">
    <source media="(max-width:701px)" srcset="{{ $medium.Permalink }}">
    <img src="{{ $desktop.Permalink }}" alt="{{ $alt }}" style="width:auto;">
</picture>